// Анимация появления блоков
const faders = document.querySelectorAll('.fade');

function showOnScroll() {
    const trigger = window.innerHeight * 0.85;

    faders.forEach(block => {
        const top = block.getBoundingClientRect().top;
        if (top < trigger) block.classList.add('show');
    });
}

window.addEventListener('scroll', showOnScroll);
window.addEventListener('load', showOnScroll);
