const blocks = document.querySelectorAll('.fade');

function showElements() {
    const trigger = window.innerHeight * 0.85;

    blocks.forEach(b => {
        if (b.getBoundingClientRect().top < trigger) {
            b.classList.add('show');
        }
    });
}

window.addEventListener('scroll', showElements);
window.addEventListener('load', showElements);
